<!-- 
<div id="contanct-form-update">

	<form id="contact-form" name="contact-form" ng-submit="submitForm">
		<table>
			<tr>
				<td>Enter your Name </td>
			</tr>
			<tr>
				<td><input type="text" id="name" name="name"
					ng-model="person.name" /></td>
			</tr>
			<tr>
				<td>Enter your comment</td>

			</tr>
		</table>
		<textarea name="comment" class="commentClass" cols="45" rows="5"
			ng-model="person.comment"></textarea>
		<br />
		<button type="submit" ng-click="submitForm()">Submit your
			comments</button>


	</form>


	<div id="commentsappended" style="overflow:scroll; height: 600px">

		<h1>List of Comments Provided by the Users</h1>
	<ul ng-repeat="person in comments">
		===========
		<li >{{person.name}}</li>
		<li ng-bind="person.comment"></li>
	</ul>
	</div>

</div>

 --><div>
<p>Our Details</p>
<br/>
<p>Suresh Parvatoja, P.E., MBA</p>
<p>Phone: 801-209-1290</p>
<p>Email id:- PARVATOJA@GMAIL.COM</p>
</div>